<template>
    <div class="container">
        <div class=" d-flex justify-content-between flex-wrap new-alert" v-if="show && alert">
            <span class="info-icon">!</span>
            <span class="text">{{alert}} <span class="alert-btn" v-on:click="hide">Close Now</span></span>            
        </div>
    </div>
</template>
<script>
export default {
  name: 'Alert',
  data () {
    return {
        show: true,
        alert: this.$store.state.error
    }
  },
  methods: {
    hide: function(event) {
        this.show = false;
    }
  }
}

</script>
<style lang="scss">
.new-alert {
    padding: 9px 16px;
    background: #E6F7FF;
    border-radius: 4px;

    .info-icon {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: block;
        background: #067AFF;
        overflow: hidden; 
        color: #fff;
        text-align: center;
        line-height: 16px;
        top: 3px;
        position: relative;
    }
    
    .text {
        font-size: 14px;
        line-height: 22px;
        margin-left: 12px;
        margin-right: auto;
        flex: 1 0 calc(100% - 30px);
        max-width: calc(100% - 30px);

        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 768px) {
            display: block;
        }
    }

    .alert-btn {
        color: #067AFF;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        cursor: pointer;
        min-width: 100px;
        @media only screen and (max-width: 768px) {
            min-width: auto;
        }
    }
}
</style>
