<template>
    <header>
      <div class="container d-flex align-items-center justify-content-between flex-wrap">
        <div class="logo">
          <a href="/"><img :src="require('~/static/logo.png')"></a>
        </div>        
        <div class="rightbar">
          <div class="lang-bar d-flex align-items-center">             
            <b-dropdown id="lang-dropdown" right >
              <template #button-content>
                <span class="lang-item" v-html="langs[lang].text"></span>
              </template>
              <b-dropdown-item @click="changeLanguage(lang)" v-for="lang in langs" :key="lang.id"><span class="lang-item" v-html="lang.text"></span></b-dropdown-item>
            </b-dropdown>
          </div>
        </div>
      </div>
    </header>
</template>
<script>
export default {
  name: 'Header',
  data () {
    return {
      search: "",
      lang: this.$store.state.lang,
      langs: {
        en: {
          id: 'en',
          text: '<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7 14C3.12812 14 0 10.8719 0 7C0 3.12812 3.12812 0 7 0C10.8719 0 14 3.12812 14 7C14 10.8719 10.8719 14 7 14ZM7 0.56875C8.00625 0.56875 8.94687 0.7875 9.77812 1.20312C9.31875 1.4875 8.64062 1.94688 8.37813 2.34063C8.26875 2.47187 8.18125 2.60313 8.11563 2.73438C7.85313 3.12813 7.72187 3.325 7.48125 3.34688C7.39574 3.36113 7.30095 3.35681 7.19688 3.35207C7.1412 3.34953 7.08287 3.34688 7.02187 3.34688L6.99223 3.34545C6.53472 3.3234 5.90205 3.29291 5.70937 3.82812C5.57812 4.17812 5.55625 5.14062 5.97188 5.62187C6.0375 5.70937 6.05937 5.84063 6.01562 6.01562C5.95 6.23438 5.84062 6.36562 5.79688 6.3875C5.73125 6.34375 5.57812 6.16875 5.49062 6.05937C5.25 5.775 4.96563 5.44688 4.57188 5.3375C4.49971 5.31345 4.42093 5.296 4.33918 5.2779C4.27224 5.26308 4.20331 5.24782 4.13438 5.22813L4.08567 5.2179C3.68352 5.13358 3.25512 5.04376 3.15 4.8125C3.0625 4.6375 3.0625 4.41875 3.0625 4.15625C3.0625 3.85 3.0625 3.5 2.90937 3.15C2.77813 2.84375 2.5375 2.69062 2.29688 2.60313C3.45625 1.35625 5.14062 0.56875 7 0.56875ZM9.1 11.2656C8.925 10.85 8.35625 10.1281 7.41563 9.12188C7.15313 8.85938 7.175 8.64062 7.2625 8.05V7.98438C7.32812 7.56875 7.4375 7.32812 8.8375 7.10938C9.54653 7.00195 9.72797 7.27438 9.98294 7.65722L9.99687 7.67813C10.0078 7.7 10.0242 7.72188 10.0406 7.74375L10.0406 7.74376C10.057 7.76563 10.0734 7.7875 10.0844 7.80938C10.3144 8.144 10.5045 8.23868 10.7502 8.36106L10.7844 8.37813C10.8253 8.39858 10.8683 8.41903 10.9141 8.44081L10.9142 8.44083C11.0154 8.48892 11.1301 8.54347 11.2656 8.61875C11.7469 8.90312 11.7469 9.20938 11.7469 9.90938V9.99688C11.7469 11.1125 11.3313 11.7031 11.1781 11.9C10.5656 12.425 9.86563 12.8406 9.1 13.1031C9.49375 12.3594 9.20938 11.5063 9.1 11.2656Z" fill="#5260A4"/></svg>En'
        },
        cn: {
          id: 'cn',
          text: '<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.4499 4.27183C13.8041 5.10862 14 6.02862 14 6.99433C14 7.996 13.7893 8.94848 13.4097 9.80993C12.5645 11.7282 10.8822 13.195 8.82498 13.7486C8.81892 13.7502 8.81286 13.7518 8.8068 13.7534C8.25305 13.9008 7.67229 13.9821 7.07352 13.9883C6.99965 13.9958 6.92314 14 6.84382 14C6.56417 14 6.3289 13.9766 6.13526 13.9363C6.13325 13.9359 6.13125 13.9355 6.12926 13.935C2.68359 13.5078 0.0145733 10.5787 5.9479e-05 7.02348C1.98389e-05 7.01377 0 7.00405 0 6.99433C0 3.13145 3.13402 0 7.00008 0C7.09033 0 7.18019 0.00170681 7.26961 0.00508989C10.045 0.110085 12.4067 1.82965 13.441 4.25083C13.444 4.25782 13.4469 4.26482 13.4499 4.27183ZM12.6943 10.1257C12.5598 10.0986 12.4999 9.97789 12.575 9.76121C12.3566 9.41052 12.0212 8.92217 11.6694 8.59749C11.0008 7.97978 10.4799 6.90114 12.5149 5.35454C12.3132 4.8211 12.5343 4.33849 12.855 4.1736C12.0013 2.40779 10.3709 1.08698 8.40688 0.653911C8.65174 1.09201 8.44304 1.5681 7.83711 1.47442C7.81263 1.83386 7.77607 2.31749 7.73192 2.73508C7.68528 3.17825 7.34358 3.2763 7.02854 3.3667C6.82534 3.42501 6.63324 3.48013 6.53854 3.62262C6.30265 3.97721 6.9762 4.35444 7.7386 4.18044C7.84935 4.15493 7.84449 4.07831 7.83991 4.00623C7.83607 3.94589 7.83244 3.88874 7.897 3.86743C8.3168 3.72817 8.84143 3.78202 8.8671 3.84726C8.89869 3.92819 8.6624 4.33917 8.33367 4.91092C8.1919 5.15749 8.03294 5.43396 7.87087 5.72676C7.77719 5.89613 7.81256 6.16301 7.84365 6.39757C7.8577 6.50354 7.87087 6.60292 7.87087 6.68372C7.87087 8.22081 7.36844 7.32209 7.01387 6.68783C6.86366 6.41914 6.73998 6.19792 6.69228 6.22943C6.5946 6.29379 6.33528 6.23035 6.07702 6.16718C5.87891 6.11871 5.68142 6.0704 5.55802 6.08005C5.41463 6.09145 5.37733 6.24162 5.34065 6.38932C5.30328 6.53977 5.26655 6.68767 5.11899 6.68375C4.87271 6.67791 4.76367 6.64721 4.71922 6.6347C4.70264 6.63003 4.69505 6.62789 4.69266 6.63051C4.69064 6.63273 4.69235 6.63835 4.69552 6.64874C4.70046 6.66497 4.70896 6.69284 4.71227 6.73752C4.71628 6.79174 4.7237 6.86395 4.73283 6.95282C4.76512 7.26697 4.81881 7.78939 4.81881 8.46196C4.81881 8.62063 5.02262 8.56339 5.2714 8.49351C5.44261 8.44541 5.63513 8.39134 5.79717 8.39755C6.09678 8.40851 6.32377 8.57546 6.52815 8.72579C6.62968 8.80047 6.72563 8.87104 6.82213 8.91635C7.07958 9.03739 7.32584 9.26672 7.5541 9.47929C7.8122 9.71965 8.0473 9.93859 8.24956 9.95532C8.43216 9.97086 8.46535 10.1136 8.49733 10.251C8.5321 10.4005 8.56543 10.5437 8.78789 10.5105C9.32971 10.4305 9.95688 11.1091 9.24491 11.7193C8.81839 12.0851 8.67547 12.5515 8.49148 13.3156C10.3019 12.8909 11.8197 11.71 12.6943 10.1257ZM6.81066 13.4985C6.79328 13.2466 6.78612 12.9575 6.79116 12.6274C6.79116 12.6274 5.11902 11.4467 5.11902 10.6799C5.11902 10.3515 5.15792 10.0984 5.18593 9.91612C5.22358 9.67114 5.24157 9.5541 5.11902 9.5541C4.95927 9.5541 4.80478 9.58932 4.66873 9.62034C4.44017 9.67244 4.26367 9.71268 4.20179 9.5541C3.91635 8.82218 3.31657 8.59786 3.28468 8.59748C2.15199 8.57705 2.10759 7.25572 2.10759 6.02319C2.10759 5.75326 1.88498 5.66067 1.64183 5.55953C1.54857 5.52073 1.45229 5.48068 1.36438 5.42889C1.25167 5.73867 0.916716 5.85454 0.608484 5.81399C0.538126 6.19675 0.501364 6.59125 0.501364 6.99433C0.501364 10.2795 2.95681 13.0365 6.23263 13.4445C6.39128 13.4779 6.58493 13.4968 6.81066 13.4985Z" fill="#888FA1"/></svg>简体中文'
        }
      }
    }
  },
  methods: {
    changeLanguage (lang) {
      this.lang = lang.id
      this.$store.commit('setLang', lang.id)
    }
  }
}

</script>
<style lang="scss">
  header {
    background: #fff;
    padding: 16px 0;
    color: #1B2645;
    font-size: 14px;

    .searhbar {
      margin-right: auto;
      width: 50%;

      @media screen and (max-width: 768px) {
        width: 100%;
        margin: 10px 0 0 0!important;
        order: 1;
      }

      input[type=text] {
        background: rgba(81, 94, 100, 0.05);
        border-color: #E5E5E5;
      }

      button {
        width: 68px;
      }
    }

    .lang-bar {

      button.dropdown-toggle {
        background: transparent!important;
        border: 0!important;
        padding:0;
        color: inherit!important;
        display: flex;
        align-items: center;
        outline: 0;
        box-shadow: none!important;

        &:after {
          border-top: 4px solid #888FA1;
          border-right: 3px solid transparent;
          border-bottom: 0;
          border-left: 3px solid transparent;
          margin: 0 6px;
        }
      }

      .lang-item {
        font-family: "PingFang SC";
        line-height: 22px;
        margin-right: 2px;
        display: flex;
        align-items: center;
        color: rgba(27,38,69, 0.5);
        font-size: 14px;

        svg {
          margin-right: 8px;
        }
      }
    }
  }
</style>
