$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1230px
);

$theme-colors : (
    'primary' : #0D88D6,
    'danger'  : #ff4136
);

$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
$btn-focus-box-shadow: none;

@import url(//db.onlinewebfonts.com/c/05e476e067ffef74ca5686f229c40a63?family=PingFang+SC);

@import 'bootstrap-scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 18px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: #231536;
}

body {
    font-family: 'Montserrat', sans-serif;    
}

#__nuxt {
    overflow: hidden;
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.3px;
    font-weight: 700;

    @media only screen and (max-width: 540px) {
        font-size: 24px;
        line-height: 32px;
    }
}

.form-control {
    padding: 0 16px;
    line-height: 40px;
    font-weight: 500;
    border: 1px solid #E5E6E7;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: 0.2px;

    &.is-valid {
        border-color: #E5E6E7;
        background: #fff!important;
    }
}

.btn {
    border-radius: 4px;
    padding: 0 24px;
    line-height: 40px;
    font-weight: 600;

    &.btn-secondary {
        background: #231536;
        border-color: #231536;
    }

    &.btn-outline-secondary {
        border-color: #231536;
        color: #231536;

        &:hover {
            background: #231536;
            color: #fff;
        }
    }

    &.btn-normal {
        text-align: left;
        background: transparent;
        padding: 0 0 24px 0;
        border-bottom: 1px solid #EBEBEB;
    }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}