<template>
    <div class="description">
        <div class="row">
            <div class="col-lg-4">
                <div class="app-card d-flex align align-items-center mt-2 mb-2 mr-3 ml-3" :style="{background: 'linear-gradient(137.3deg, #EEFFE8 0%, #C6FFF9 96.29%)'}">
                    <div>
                        <div class="card-img">
                           <img :src="require('~/static/images/home/free.png')">
                        </div>
                        <div class="app-card-title">
                            <b>Free</b>
                        </div>
                        <div class="app-card-body">
                            This service is completely free of charge.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="app-card d-flex align align-items-center mt-2 mb-2 mr-3 ml-3" :style="{background: 'linear-gradient(315deg, #FFE9B5 0%, #FFE9E7 100%)'}">
                    <div>
                        <div class="card-img">
                            <img :src="require('~/static/images/home/yours.png')">
                        </div>
                        <div class="app-card-title">
                            <b>Yours</b>
                        </div>
                        <div class="app-card-body">
                            The app will have your name, your logo and serve content from your website.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="app-card d-flex align align-items-center mt-2 mb-2 mr-3 ml-3" :style="{background: 'linear-gradient(136.26deg, #E2FECC 0%, #FFF1CF 102.29%)'}">
                    <div>
                        <div class="card-img">
                            <img :src="require('~/static/images/home/fast.png')">
                        </div>
                        <div class="app-card-title">
                            <b>Fast and Stable</b>
                        </div>
                        <div class="app-card-body">
                            The app has built-in circumvention, which provides fast and stable access despite your website being blocked.
                        </div>
                    </div>
                </div>
            </div>

            <div class="base-background d-xl-none">
            </div>
        </div>
    </div>
</template>
<style lang="scss">
.description {
    .row {
        position: relative;
        padding-bottom: 48px;

        @media only screen and (max-width: 540px) {
            padding-bottom: 8px;
        }

        .col-lg-4 {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.app-card {
    padding: 60px 40px;
    border-radius: 8px;    
    color: #231536;
    height: 100%;
    margin-bottom: 20px;

    @media only screen and (max-width: 990px) {
        padding: 30px 20px;
        height: auto;
    }

    .card-img {
        margin-bottom: 22px;
    }

    .app-card-title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 11px;
    }

    .app-card-body {
        font-size: 18px;
        line-height: 26px;
        min-height: 104px;

        @media only screen and (max-width: 990px) {
            min-height: auto;
        }
    }
}

.base-background {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFF9EE 100%);
    border-radius: 8px;
    position: absolute;
    z-index: -1;
    height: 270px;
    bottom: -48px;
    left: 48px;
    right: 40px;    
}
</style>
