<template>
    <div class="app-form">
        <template v-if="issubmit">
            <form class="main-form">
                <b-row class="mt-4">
                    <b-col sm="4" class="text-md-right ">
                    <label for="input-none"> App name :</label>
                    </b-col>
                    <b-col sm="8">
                    <b-form-input id="input-none" :state="status(name)" v-model="name" placeholder="App Name"></b-form-input>
                    </b-col>
                </b-row>

                <b-row class="mt-4">
                    <b-col sm="4" class="text-md-right ">
                        <label for="input-none">Home page :</label>
                    </b-col>
                    <b-col sm="8">
                    <b-form-input type="url" id="input-none" :state="validateurl(url)" v-model="url" placeholder="Home Page"></b-form-input>
                    </b-col>
                </b-row>

                <b-row class="mt-4">
                    <b-col sm="4" class="text-md-right ">
                    <label for="input-none">App icon :</label>
                    </b-col>
                    <b-col sm="8">
                        <b-form-file v-model="file" :state="status(file)" plain accept='image/*'></b-form-file>
                    </b-col>
                </b-row>

                <div class="mt-4 text-md-center mb-4">
                    <b-button class="mr-2" id="app-submit-btn" v-on:click="submit">Submit</b-button>
                    <b-button variant="outline-secondary" v-on:click="reset">Reset</b-button>
                </div>
            </form>
        </template>
        <template v-else>
            <form class="main-submitted-form">
                <b-row class="mt-4">
                    <b-col sm="4" class="text-md-right ">
                    <label for="input-none"> App name :</label>
                    </b-col>
                    <b-col sm="8">
                        <b>{{ name }} </b>
                    </b-col>
                </b-row>

                <b-row class="mt-4">
                    <b-col sm="4" class="text-md-right ">
                    <label for="input-none"> Package Name :</label>
                    </b-col>
                    <b-col sm="8">
                        <b>{{ pack }} </b>
                    </b-col>
                </b-row>

                <b-row class="mt-4">
                    <b-col sm="4" class="text-md-right ">
                    <label for="input-none">Home page :</label>
                    </b-col>
                    <b-col sm="8">
                        <a :href="url"><b>{{ url }}</b></a>
                    </b-col>
                </b-row>

                <b-row class="mt-4">
                    <b-col sm="4" class="text-md-right ">
                    <label for="input-none">App icon :</label>
                    </b-col>
                    <b-col sm="8">
                        <img :src="file" />
                    </b-col>
                </b-row>
                
                <b-row v-if="is_processing()" class="mt-4">
                    <b-col sm="4" class="text-md-right">
                    <label for="input-none">Build Progress :</label>
                    </b-col>
                    <b-col xs="7">
                        <b-progress :value="process" variant="secondary" :key="build-process"></b-progress>
                    </b-col>
                    <b-col xs="1" class="p-0">
                        <span class="process-text">{{process}}%</span>
                    </b-col>
                </b-row>

                <b-row v-else class="mt-2">
                    <b-col sm="4" class="text-md-right">
                    <label for="input-none"></label>
                    </b-col>
                    <b-col sm="8">
                        <b-button variant="secondary" v-on:click="download">Download APK</b-button>
                        <code class="apk_code mt-2">{{code}}</code>
                    </b-col>
                </b-row>

                <b-row class="mt-4">
                    <b-col sm="4" class="text-md-right ">
                    <label for="input-none">Updated at(UTC) :</label>
                    </b-col>
                    <b-col sm="8">
                        <b>{{date}}</b>
                    </b-col>
                </b-row>

                <b-row class="mt-4">
                    <b-col sm="4" class="text-md-right ">
                    <label for="input-none"></label>
                    </b-col>
                    <b-col sm="8">
                        <img :src="qrcode" />
                        <b-button variant="outline-secondary" class="mt-3" v-on:click="build">New Build</b-button>
                    </b-col>
                </b-row>
            </form>
        </template>  
    </div>
</template>
<script>
export default {
  data () {
    return {
        file: null,
        name: "",
        url: "",
        issubmit: true,
        validate: true,
        date: "",
        qrcode: "",
        pack: "",
        process: 10,
        code: ""
    }
  },
  methods: {
    submit: function (event) {
        this.validate = false;
        if (this.file && this.name && this.validateurl(this.url)) {
            this.validate = true;
            const el = document.querySelector("#app-submit-btn");
            el.textContent = "Loading...";
            el.setAttribute("disabled", "disabled");
            // from server
            setTimeout(() => {
                el.textContent = "Submit";
                el.removeAttribute("disabled");
                
                this.issubmit = false;
                this.file = "https://upload-icon.s3.amazonaws.com/uploads/icons/png/17157033341606751747-32.png";
                this.name = "China Digital Times";
                this.url =  "https://chinadigitaltimes.net/";
                this.date = "Aug. 17, 2020, 2:11 p.m.";
                this.qrcode = "//goqr.me/_Resources/Static/Packages/GoQrMe.Ui/Images/qr_default.png";
                this.pack = "net.chinadigitaltimes";
                this.process = 10;
                this.code = "SHA256: fda33b6a0e83084c326f251f4dc1a7802f841f7cc30881e8dd2419704083fd0a";
                
                var interval = setInterval(() => {
                    this.process += 10;
                    if (!this.is_processing()) {
                        clearInterval(interval);
                    }
                }, 500);
            }, 1000);
        }
    },

    reset: function (event) {
        this.file = null;
        this.name = "";
        this.url = "";
    },

    build: function(event) {

    },
    download: function(event) {

    },
    status: function (value) {
        if (value) {
            return this.validate || true;
        }

        return this.validate || false;
    },

    validateurl: function(value) {
      return this.validate || /^(?:(?:(?:https?|ftp):)?\/\/)(?:\S+(?::\S*)?@)?(?:(?!(?:10|127)(?:\.\d{1,3}){3})(?!(?:169\.254|192\.168)(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]-*)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:[/?#]\S*)?$/i.test(value);
    },
    is_processing: function () {
        if (this.process == 100) {
            return false;
        }

        return true;
    }
  },
  async asyncData () {
  }
}
</script>
<style lang="scss">
.main-form {
    .col-sm-4 {
        label {
            padding-top: 4px;
        }
    }
}
.app-form {
    padding: 20px 40px;
    background: linear-gradient(180deg, #F5FFEC 0%, #FDF4DC 160.19%);    
    border-radius: 8px;
    position: relative;

    form {
        max-width: 600px;
        margin: 0 auto;     
    }

    &:before, &:after {
        position: absolute;
        content: "";
        width: 136px;
        height: 136px;
        z-index: -1;
        border-radius: 50%;
    }

    &:before {
        background: linear-gradient(114.44deg, #F4FA8D 14.4%, #FFE07C 83.02%);
        filter: blur(27.1828px);
        right: -68px;
        top: -68px;
    }

    &:after {
        width: 100px;
        height: 100px;
        background: linear-gradient(114.44deg, #F4FA8D 14.4%, #FFE07C 83.02%);
        filter: blur(27.1828px);
        bottom: -50px;
        left: 60px;
    }
}

.process-text {
    color: #067AFF;
}

.apk_code {
    font-size: 12px;
    display: block;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #231536;
}

.progress {
    height: 8px;
    margin-top: 8px;
    .bg-secondary {
        background: #067AFF!important;
    }
}

#app-submit-btn {
    &[disabled] {
        position: relative;
        padding-left: 48px;

        &:before {
            content: "";
            display: block;
            left: 20px;
            width: 18px;
            height: 18px;
            border: 1px solid #fff;
            border-top: 0;
            border-radius: 50%;
            background: transparent;
            position: absolute;
            top: 11px;
            -webkit-animation: spin 2s infinite linear;
            animation: spin 2s infinite linear;
        }
    }
}
</style>
