<template>
    <div class="others-project">
        <h2 class="text-center">Other Projects</h2>
        <ul class="d-flex justify-content-center flex-wrap">
            <li v-for="item in items" :key="item">
                <a href=""><img :src="require('~/static/images/home/projects/' + item + '.png')"></a>
            </li>
        </ul>
    </div>
</template>
<script>
export default {  
    data () {
        return {
            items: [1, 2, 3, 4, 5, 6, 7, 8]
        }  
    }
}
</script>
<style lang="scss">
.others-project {
    margin-top: 20px;
    
    h2 {
        margin-bottom: 20px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding: 8px 20px;
        }
    }
}
</style>
