<template>
    <div class="questions">
        <h2 class="text-center">Questions</h2>
        <b-card no-body class="mb-1 border-0">
            <b-card-header header-tag="header" class="border-0 p-0" role="tab" >
                <b-button block v-b-toggle.accordion-1 variant="normal">What is AppMaker?</b-button>
            </b-card-header>
            <b-collapse id="accordion-1" visible accordion="my-accordion" role="tabpanel">
                <b-card-body>
                <b-card-text class="text-center">If you have any problems using this service, please feel free to contact us on support@greatfire.org</b-card-text>
                </b-card-body>
            </b-collapse>
        </b-card>

        <b-card no-body class="mb-1 border-0">
            <b-card-header header-tag="header" class="border-0 p-0" role="tab">
                <b-button block v-b-toggle.accordion-2 variant="normal">Having problems using this service?</b-button>
            </b-card-header>
            <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel" class="text-center">
                <b-card-body>
                <b-card-text >If you have any problems using this service, please feel free to contact us on support@greatfire.org</b-card-text>
                </b-card-body>
            </b-collapse>
        </b-card>

        <b-card no-body class="mb-1 border-0">
            <b-card-header header-tag="header" class="border-0 p-0" role="tab">
                <b-button block v-b-toggle.accordion-3 variant="normal">What is AppMaker?</b-button>
            </b-card-header>
            <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                <b-card-text>If you have any problems using this service, please feel free to contact us on support@greatfire.org</b-card-text>
                </b-card-body>
            </b-collapse>
        </b-card>

        <b-card no-body class="mb-1 border-0">
            <b-card-header header-tag="header" class="border-0 p-0" role="tab">
                <b-button block v-b-toggle.accordion-4 variant="normal">Having problems using this service?</b-button>
            </b-card-header>
            <b-collapse id="accordion-4" accordion="my-accordion" role="tabpanel">
                <b-card-body>
                <b-card-text>If you have any problems using this service, please feel free to contact us on support@greatfire.org</b-card-text>
                </b-card-body>
            </b-collapse>
        </b-card>
    </div>
</template>
<style lang="scss">
.questions {
    h2 {
        margin-bottom: 40px;

        @media only screen and (max-width: 540px) {
            margin-bottom: 20px;
        }
    }

    .card-header {
        background: transparent;
    }

    .btn-normal {
        position: relative;
        padding-right: 25px;
        
        @media only screen and (max-width: 540px) {
            padding-bottom: 8px;
        }

        &:after,
        &:before {
            position: absolute;
            width: 20px;
            height: 2px;
            content: "";
            background: #000;
            right: 0;
            top: calc(50% - 1px);
        }

        &:after {
            width: 2px;
            height: 20px;
            right: 9px;
            top: calc(50% - 10px);
            transition: 0.3s all;
        }

        &.not-collapsed {
            &:after {
                opacity: 0;
            }
        }
    }
}
</style>
