<template>
    <div class="top-title">
        <div class="d-block d-sm-none text-center mb-xs-3"><svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M56.4619 47.9238L30.0212 55.6357L65 65.0001L56.4619 47.9238Z" fill="url(#paint0_linear)"/>
<path d="M32.5 0L48.75 32.5L37.5871 39.9847L30.8475 27.5424L18.4913 52.6507L0 65L32.5 0Z" fill="url(#paint1_linear)"/>
<path d="M0 65L48.75 32.5L56.7373 48.4746L0 65Z" fill="url(#paint2_linear)"/>
<defs>
<linearGradient id="paint0_linear" x1="78.2572" y1="59.998" x2="71.4281" y2="41.8986" gradientUnits="userSpaceOnUse">
<stop stop-color="#4D8EFF"/>
<stop offset="1" stop-color="#0043EB"/>
</linearGradient>
<linearGradient id="paint1_linear" x1="27.2276" y1="-14.4824" x2="-11.8762" y2="-0.341607" gradientUnits="userSpaceOnUse">
<stop stop-color="#4D8EFF"/>
<stop offset="1" stop-color="#0043EB"/>
</linearGradient>
<linearGradient id="paint2_linear" x1="26.0015" y1="80.7" x2="53.8282" y2="34.6149" gradientUnits="userSpaceOnUse">
<stop stop-color="#3376FF"/>
<stop offset="1" stop-color="white"/>
</linearGradient>
</defs>
</svg>
</div>
        <h1>GreatFire AppMaker</h1>
        <p>Create your own Android app that allows your readers to access your blocked website without a VPN.</p>
    </div>
</template>
<style lang="scss">
.top-title {
    h1 {
        font-weight: 700;
        line-height: 58px;
        font-size: 48px;
        letter-spacing: 0.5px;
        text-align: center;
        margin-bottom: 24px;

        @media screen and (max-width: 540px) {
            font-size: 24px;
            line-height: 34px;
            letter-spacing: 0.2px;
            margin-bottom: 8px;
        }
    }

    p {
        font-size: 20px;
        line-height: 28px;
        text-align: center;

        @media screen and (max-width: 540px) {
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 8px;
        }
    }
}
</style>
