<template>
  <div>
    <Header/>
    <div class="mt-2 mb-3">
      <Alert />
    </div>
    <Nuxt />      
    <Footer />
  </div>
</template>

<script>
import Header from '~/components/layout/Header.vue'
import Footer from '~/components/layout/Footer.vue'

export default {
  components: {
    Header,
    Footer
  }
}
</script>