<template>
  <div class="container">    
    <Top class="mb-md-5" />
    <Description class="mb-md-5"/>
    <Form class="mb-md-5"/>
    <div class="testimonial mb-md-5">
      <span class="text">“A healthy society should have more than one voice.”</span>
      <span class="name">- Dr. Li Wenliang</span>
    </div>
    <Questions class="mb-md-5"/>
    <Others class="mb-md-5"/>
  </div>
</template>

<script>
import Top from '~/components/Home/Top.vue'
import Description from '~/components/Home/Description.vue'
import Form from '~/components/Home/Form.vue'
import Questions from '~/components/Home/Questions.vue'
import Others from '~/components/Home/Others.vue'

export default {
  components: {
    Top,
    Description,
    Form
  }
}
</script>
<style lang="scss">
  .testimonial {
    padding: 61px 15px 47px;
    text-align: center;
    background: #FFFFFF;
    /*box-shadow: 0px 9px 28px rgba(0, 0, 0, 0.05);*/
    color: #231536;
    clip-path: polygon(8.33% 8.33%, 100% 0, 100% 100%, 0% 100%);
    filter: drop-shadow(0px 9px 28px rgba(0, 0, 0, 0.05));

    .text {
      font-weight: 600;
      font-style: italic;
      font-size: 24px;
      line-height: 32px;
    }

    .name {
      font-size: 20px;
      line-height: 28px;
      margin-left: 40px;

       @media only screen and (max-width: 768px) {
         text-align: right;
      }
    }

    span {
      @media only screen and (max-width: 768px) {
        display: block;
      }
    }
  }
</style>